include includes/header
script(src='/js/chatsLogik.js' defer)
body
    div#container
        ul
            each chat in chats
                li.chatEntry 
                    a(href= `/chats/${chat.id}`)= chat.navn
                    if currentUserLevel == 3
                        input.sletChatKnap(type="button", value="Slet Chat" data-chat-id = chat.id)
                    else if currentUserLevel == 2 && chat.ejerBrugerId == currentUserId
                        input.sletChatKnap(type="button", value="Slet Chat" data-chat-id = chat.id)


        if currentUserLevel >= 2
            include opretChat

        if currentUserLevel == 3
            include usersPug
        input#logUdKnap(type="button", value="Log ud")

