include includes/header
script(src='/js/chatLogik.js' defer)
body 
    ul 
    each besked in chat.beskeder
        li= besked
    input#chatInput(type="text")
    input#sendChatKnap(type="button", value="Send Chat")
