include includes/header
script(src='/js/client.js' defer)

h1 Login her
input#username(type="text", name="username", placeholder="Brugernavn")  
input#password(type="password", name="password", placeholder="Kodeord") 
input#loginButton(type="button", value="Login") 
        