include includes/header

script(src='/js/client.js' defer)

h1 Login her
input#username(type="text", name="username", placeholder="Brugernavn")  
input#password(type="password", name="password", placeholder="Kodeord") 
input#loginButton(type="button", value="Login") 

h1 Ikke en bruger? Opret dig her! 
button#opretButton Opret bruger 

script(src="/js/knapLogik_opretBruger.js")

